/* body{
    background-color: red;
}
@media(max-width:500px){
    body{
        background-color: yellow;
    }
}
@media(min-width:550px) and (max-width:750px){
    body{
        background-color: green;
    }
} */
/* 
div{
    display: flex;
    gap: 20px;
    background-color: lightblue;
}
@media(min-width:500px)and (max-width:750px){
    div{
        justify-content: center;
        background-color: lightcoral;
    }
    div>h1{
        color: white;
    }
}
@media(max-width:500px){
    div{
        justify-content: right;
        background-color: lightgreen;
    }
    div>h1{
        color: orange;
    }
} */
 html{
    font-size: 20px;
 }
 h1{
    font-size: 1rem;
 }
 p{
    font-size: 2rem;
 }
 @media(max-width:500px) {
    html{
        font-size: 15px;
    }
  }
/* 
 rem is root based
 em is parent based  */